body {
  font-family:  'Arial', sans-serif;
  background-color: #f6f7fc; /* 배경 색 */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 80%;
  max-width: 900px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #003366;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

form input[type="text"], form input[type="number"] {
  width: 18%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

form button {
  background-color: #ffd700;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  color: #003366;
}

form button:hover {
  background-color: #ffcc00;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: #003366;
  color: white;
  font-weight: bold;
}

.table td {
  background-color: #e9f0ff;
}

.table .delete-btn {
  background-color: #ff4d4d; /* 삭제 버튼 */
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.table .delete-btn:hover {
  background-color: #ff1a1a;
}